* {
	box-sizing: border-box;
	margin: 0; /*not sure ?*/
}
/* TYPOGRAPHY */
@font-face {
	font-family: Montserrat-Thin, sans-serif;
	src: url(../fonts/Montserrat/Montserrat-Thin.ttf);
}

@font-face {
	font-family: Montserrat-Regular, sans-serif;
	src: url(../fonts/Montserrat/Montserrat-Regular.ttf);
}

@font-face {
	font-family: Montserrat-Medium, sans-serif;
	src: url(../fonts/Montserrat/Montserrat-Medium.ttf);
}

@font-face {
	font-family: Symbols;
	src: url(../fonts/fa/fa-solid-900.ttf);
}

/* BASIC */
body {
	font-family: Montserrat-Regular, sans-serif, Symbols;
	font-size: 1rem;
}

header {
	background-color: #ff7f00;
	width: 100%;
	height: 5vh;
	display: flex;
	justify-content: center;
}
a {
	font-family: Montserrat-Regular, sans-serif, Symbols;
	text-decoration: none;
}

/* LAYOUT */
.main-layout {
	margin: 0px 25px;
	width: 600px;
}

/* HEADER */

.logo {
	width: 133px;
	height: 22px;
	align-self: center;
}

.btn-menu{
	display: none;
	font-size: 1.5rem;
	color: white;
	font-weight: bold;
	border: none;
	background-color: #ff7f00;
	cursor: pointer;
}

.main-nav a {
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	height: 5vh;
	width: 100px;
}

/* MAIN CONTENT */
.main-content {
	height: 90vh;
	overflow-y: scroll;
}

.main-content nav {
	background-color: whitesmoke;
	flex-wrap: wrap;
}
.search-keys{
	width: 230px;
	display: flex;
	align-items: center;
}
.btn.search-keys{
	margin-left: 5px;
	width:24px;
	height:24px;
}
.btn.search-keys::before{
	content: '\f002';
}
.keywords {
	display: flex;
	flex-wrap: wrap;
	max-width: 330px;
	padding:10px;
}
.keyword {
	font-family: Montserrat-Regular;
	color: black;
	margin-inline-end: 10px;
	margin-inline-start: 10px;
}
.keyword:hover {
	color: tomato;
}

.continue-edit{
	font-family: Symbols, sans-serif;
	color:black;
	background-color: white;
	border:none;
}
.continue-edit:hover{
	color:green;
	cursor: pointer;
}
.continue-edit::before{
	content: '\f044';
}

.main-grid {
	margin: 10px;
	grid-template-columns: repeat(3, 150px);
	grid-template-rows: repeat(3, 150px);
	gap: 20px;
	justify-content: center;
}

.main-grid > * {
	cursor: pointer;
	width: 150px;
	height: 150px;
	object-fit: cover;
}

.edit-area {
	align-items: center;
	justify-content: center;
}

.edit-area > * {
	margin: 10px;
	margin-inline-end: 20px;
}

canvas {
	border: 1px solid black;
}


/* FOOTER  */
footer {
	background-color: #ff7f00;
	height: 5vh;
}

footer main {
	flex-direction: column;
	align-items: center;
}

/* HELPERS */
.grid {
	display: grid;
}

.flex {
	display: flex;
}

.direction-column {
	flex-direction: column;
}

.space-between {
	justify-content: space-between;
}

.align-center {
	align-content: center;
}
.hide {
	display: none;
}
/* List helpers */
.clean-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
}


.main-screen {
    position: fixed;
    top: 5vh;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .25);
    cursor: pointer;
    pointer-events: none;
    opacity: 0;
    transition: opacity .6s;
}

body.menu-open .main-screen {
    pointer-events: auto;
    opacity: 1;
}


/* SMALL ONLY */

@media(min-width:350px) and (max-width:550px) {
    .main-nav {
        position: absolute;
        width: 100vw;
        top: 5vh;
        right: 0;
        flex-direction: column;
        background-color: #ff7f00;
        transform: translateY();
		display: none;
    }
	.btn-menu{
		display: block;
	}
    body.menu-open .main-nav {
		display: block;
        box-shadow: 2px 2px -20px rgba(0, 0, 0, .25);
    }
	
    .main-nav a {
        display: block;
		width:100%;
        padding: 10px;
        border-bottom: 1px solid whitesmoke;
        transition: background .3s;
    }
    .main-nav a:hover {
		font-weight: bold;
		color: #ff7f00;
        background: whitesmoke;
    }
.main-layout{
		margin: 0;
		width:100%;
	}
	.main-grid {
		margin: 10px;
		grid-template-columns: repeat(3, 150px);
		grid-template-rows: repeat(3, 150px);
		gap: 20px;
		justify-content: center;
	}
	

}